@layer base {
	@font-face {
		font-family: 'Changa-Variable';
		src:
			url('/fonts/Changa-Variable.woff2') format('woff2'),
			url('/fonts/Changa-Variable.woff') format('woff'),
			url('/fonts/Changa-Variable.ttf') format('truetype');
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
	}
}
